<div class="container">
  <div class="row">
    <h1>Llistat d'opinions</h1>
    <h1><%= @api_url %></h1>
  </div>

  <%= render "shared/flash_message" %>

  <!-- list -->
  <div class="row">
    <ul class="media-list">
      <li class="media">
        <a class="pull-left" href="#">
          <img class="media-object" src="http://placehold.it/75x75" alt="...">
        </a>
        <div class="media-body">
          <h4 class="media-heading">Media heading</h4>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus aliquam lobortis sagittis. Curabitur ut nisi eget leo condimentum porta in quis dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        </div>
      </li>
      <li class="media">
        <a class="pull-left" href="#">
          <img class="media-object" src="http://placehold.it/75x75" alt="...">
        </a>
        <div class="media-body">
          <h4 class="media-heading">Media heading</h4>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus aliquam lobortis sagittis. Curabitur ut nisi eget leo condimentum porta in quis dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        </div>
      </li>
      <li class="media">
        <a class="pull-left" href="#">
          <img class="media-object" src="http://placehold.it/75x75" alt="...">
        </a>
        <div class="media-body">
          <h4 class="media-heading">Media heading</h4>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus aliquam lobortis sagittis. Curabitur ut nisi eget leo condimentum porta in quis dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        </div>
      </li>
      <li class="media">
        <a class="pull-left" href="#">
          <img class="media-object" src="http://placehold.it/75x75" alt="...">
        </a>
        <div class="media-body">
          <h4 class="media-heading">Media heading</h4>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus aliquam lobortis sagittis. Curabitur ut nisi eget leo condimentum porta in quis dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        </div>
      </li>
      <li class="media">
        <a class="pull-left" href="#">
          <img class="media-object" src="http://placehold.it/75x75" alt="...">
        </a>
        <div class="media-body">
          <h4 class="media-heading">Media heading</h4>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus aliquam lobortis sagittis. Curabitur ut nisi eget leo condimentum porta in quis dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        </div>
      </li>
    </ul>
  </div>
  <!-- end list -->


  <% if @opinions && @total_pages > 1 %>
    <ul class="pagination">
      <% (1..@total_pages).first(3).to_a.each do |page| %>
        <li>
          <%= link_to page, client_opinions_path(@query_parameters.merge({:page => page})) %>
        </li>
      <% end %>
        <!-- <li><a href="">&laquo;</a></li> -->
        <!-- <li><a href="#">&raquo;</a></li> -->
    </ul>
  <% end %>

</div>
