
<h1>HELLO WORLD!</h1>
<%= @foo %> <br><br>
<%= @parsed_json["id"] %>

<%= "id #{@parsed_json["parent"]["id"]}" %>

<% @parsed_json["parent"]["childrens"].each do |idx| %>
 item: <%= idx %>
<% end %>
